<html>

  <head>
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>

    <!-- todo: pieace of templating which needs to be updated -->
    <script type="text/template" id="account-template">
      <div class="account-view">
        <label><%= title %></label>
        <button id='view-collapse'></button>
        <ul  id='projects'></ul>
      </div>
    </script>

    <script type="text/template" id="project-template">
      <div class="project-view">
        <label><%= title %></label>
        <button id='view-collapse'></button>
      </div>
    </script>

    <!-- Third-Party Libraries (Order matters) -->
    <script src="/assets/js/libs/jquery.js"></script>
    <script src="/assets/js/libs/underscore.js"></script>
    <script src="/assets/js/libs/backbone.js"></script>
    <!-- Application core (Order matters) -->
    <script src="/src/application.js"></script>


    <!-- The actual HTML code-->
    <section id="careerpath">
      <header id="header">
        <h1>Career dashboard page</h1>
        <button id="add-new">Add new achievement</button>
        <button id="view-all">View all</button>
      </header>
    </section>

    <section id="main">
        <ul id="account-list"></ul>
    </section>

    <div id="info">
      <p>Written by <a href="https://github.com/vdabravolski">Vadim</a></p>
      <p>Bending the learning curve</p>
    </div>

  </body>
</html>
